.top {
  top: 8px;
}


.hero-image {
  background-image: url("https://i.ytimg.com/vi_webp/YyUhslfLfZM/maxresdefault.webp");
  /* https://i.ytimg.com/vi_webp/xHO30Yrg3kE/maxresdefault.webp */
  height: 770px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 140px; 
  padding-left: 40em;
}


.em {
  font-weight: bold;
  padding-top: 3px;
}

.wrapper-no4 {
  display: initial;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}

.wrapper-no4 .button-bird {
  width: 150px;
  height: 33px;
  background-color: #131335;
  border-radius: 5px;
  position: absolute;
  top: 44%;
  left: 48%;
  opacity: 1;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
}

.wrapper-no4 .button-bird2 {
  width: 150px;
  height: 33px;
  background-color: #131335;
  border-radius: 5px;
  position: absolute;
  top: 44%;
  opacity: 1;
  transform: translateY(-50%);
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
}

.wrapper-no4 .button-bird_text {
  text-align: center;
  font-size: 19px;
  font-family: Helvetica, Arial, sans-serif;
  color: #beedff;
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}

.wrapper-no4 .button-bird__text {
  text-align: center;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  color: #beedff;
  position: absolute;
  z-index: 1000;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}

.wrapper-no4 .button-bird:focus {
  outline: none;
}

.wrapper-no4 .button-bird:hover .bird--30 {
  left: 600px;
  top: -550px;
  opacity: 0;
  transition: left 1.5s cubic-bezier(0.42, 0, 0.58, 1),
    top 1.5s cubic-bezier(0.42, 0, 0.58, 1), opacity 0.5s linear 1s;
}

.wrapper-no4 .button-bird:hover .bird--30:before {
  left: -50px;
  top: 50px;
  transition: all 1.5s cubic-bezier(0.42, 0, 0.58, 1) -0.5s;
}

.wrapper-no4 .bird--30,
.wrapper-no4 .bird--30:after,
.wrapper-no4 .bird--30:before {
  opacity: 1;
  display: block;
  position: absolute;
  background-image: url("http://cfriedri.ch/codepen/04/birds.svg");
  background-size: auto 100%;
  width: 60px;
  height: 33px;
  top: 0;
  left: 0;
  animation-name: fly-cycle;
  animation-timing-function: steps(7);
  animation-iteration-count: infinite;
}

.wrapper-no4 .bird--30,
.wrapper-no4 .bird--30:after,
.wrapper-no4 .bird--30:before {
  width: 30px;
  height: 33px;
  top: 0;
  left: 8px;
  z-index: -100;
}

.wrapper-no4 .bird--30:after,
.wrapper-no4 .bird--30:before {
  content: "";
}

.wrapper-no4 .active .bird--30:before,
.wrapper-no4 .button-bird:hover .bird--30:before {
  animation-duration: 0.5s;
  animation-delay: -0.5s;
}

.wrapper-no4 .active .bird--30:after,
.wrapper-no4 .button-bird:hover .bird--30:after {
  animation-duration: 0.7s;
  animation-delay: -0.5s;
}

.wrapper-no4 .active .bird--30,
.wrapper-no4 .button-bird:hover .bird--30 {
  animation-duration: 0.6s;
  animation-delay: -0.75s;
}

@keyframes fly-cycle {
  100% {
    background-position: -360px 0;
  }
}

@keyframes text-fade {
  0% {
    color: transparent;
    opacity: 1;
    top: -50%;
    left: auto;
  }

  1% {
    color: transparent;
    opacity: 0;
  }

  50% {
    color: transparent;
    opacity: 0;
  }

  100% {
    color: #131335;
    opacity: 1;
  }
}

@keyframes feather-fade {
  0% {
    top: -100px;
    opacity: 0;
  }

  25% {
    transform: rotate(10deg);
    left: 30%;
  }

  50% {
    transform: rotate(-5deg);
    opacity: 1;
    left: 45%;
  }

  75% {
    transform: rotate(10deg);
    left: 32%;
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
    top: 12px;
    left: 43%;
  }
}


@keyframes fly-cycle {
  100% {
    background-position: -360px 0;
  }
}

@keyframes text-fade {
  0% {
    color: transparent;
    opacity: 1;
    top: -50%;
    left: auto;
  }

  1% {
    color: transparent;
    opacity: 0;
  }

  50% {
    color: transparent;
    opacity: 0;
  }

  100% {
    color: #131335;
    opacity: 1;
  }
}

@keyframes feather-fade {
  0% {
    top: -100px;
    opacity: 0;
  }

  25% {
    transform: rotate(10deg);
    left: 30%;
  }

  50% {
    transform: rotate(-5deg);
    opacity: 1;
    left: 45%;
  }

  75% {
    transform: rotate(10deg);
    left: 32%;
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
    top: 12px;
    left: 43%;
  }
}
