<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="disp">
  <div class="bg-img">

    <h1 class="display-4">
      Bienvenue au Centre Equestre !
    </h1>

    <div class="ins">
      <h6 class="co"> Se connecter en tant que :</h6>

      <button routerLink="/loginmoniteur">
        <strong>Moniteur</strong>
      </button>&nbsp;
      <button style="border: none;" routerLink="/logincavalier" class="login">
        <strong>Cavalier</strong>
      </button> &nbsp;
      <button routerLink="/loginadmin">
        <strong>Administrateur</strong>
      </button>&nbsp;
      <button routerLink="/loginsuperadmin">
        <strong>Super Administrateur</strong>
      </button>&nbsp; <br>
    </div>


    <div class="ins">
      <h6 class="dec"> Ou bien</h6>
      <button routerLink="/registration" style="margin-left: 27.5em;">
        <strong>S'inscrire</strong>
      </button>
    </div>

  </div>
