<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>{{hero.name | uppercase}} Details</h2>
<div>
  <span>id: </span> {{hero.id}}
</div>
<div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name" />
  </label>
</div> -->


<!-- 
<br>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
<span class="btn"><i class="fa fa-home"></i> {{hero.id}} {{hero.name}}</span>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<div>
  <label>Hero name:
    <input #heroName />
  </label>

  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>


<button class="delete" title="delete hero" (click)="delete(hero)">x</button> -->
























<iframe
  src="https://calendar.google.com/calendar/embed?height=550&amp;wkst=1&amp;bgcolor=%237986CB&amp;ctz=Europe%2FParis&amp;src=Y2dqOWNxNGhjOXNibm4zMXI3cDl2ampwcXNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZnIuZnJlbmNoI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23C0CA33&amp;color=%230B8043&amp;showTitle=1&amp;showDate=1&amp;showNav=0&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0&amp;showTz=0&amp;title=Horse%20Event%20Calendar"
  style="border-width:0" width="800" height="550" frameborder="0" scrolling="no">
  <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NHByaHE5cnZjZXMzcW0xdW8wbWJqMThmbDMgY2dqOWNxNGhjOXNibm4zMXI3cDl2ampwcXNAZw&amp;tmsrc=cgj9cq4hc9sbnn31r7p9vjjpqs%40group.calendar.google.com">
    <img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_fr.gif">
  </a>
</iframe>

<!-- https://calendar.google.com/calendar/u/0/r/day/2020/11/2?cid=cgj9cq4hc9sbnn31r7p9vjjpqs%40group.calendar.google.com -->




