
<div class="disp">
  <div class="card" style="left: 22em; background-image: url('https://tse2.mm.bing.net/th?id=OIP.B-NL-fVqZ6i6tVNQo7q9TgHaEo&pid=Api&P=0&w=289&h=181')" [routerLink]="['/calendar']">
    <h4 class="text">Gérer les cours d'équitation</h4>
  </div>

  <div class="card" style="left: 26em; background-image: url('https://wallpapercave.com/wp/nibMq0c.jpg')" [routerLink]="['/']">
    <h4 class="text">Gérer mon compte</h4>
  </div>
</div>

<!-- <a routerLink="/account-management">
    <button mat-button>Gérer mon compte</button>
</a> -->
