<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="bg-img">
  <div class="container">
    <div class="topnav">
      <!-- <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a> -->
      <a routerLink="/dashboard" href="#">Dashboard</a>
      <a routerLink="/heroes" href="#">Horses</a>
      <a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
      <a routerLink="/registration">Add Employee</a>
    </div>
  </div>


  <router-outlet></router-outlet>
  <app-messages></app-messages>
  <!--   https://semantic-ui.com/modules/dropdown.html#search-selection -->
