
<div class="disp">
  <app-loginsuccess></app-loginsuccess>

  <h1 style="text-align: center;">~ Admin Page ~</h1>

  <div class="card" style="left: 16em; background-image: url('https://tse2.mm.bing.net/th?id=OIP.B-NL-fVqZ6i6tVNQo7q9TgHaEo&pid=Api&P=0&w=289&h=181')" [routerLink]="['/-management']">
    <h4 class="text">Gérer les chevaux</h4>
  </div>
  
  <div class="card" style="left: 18em; background-image: url('https://wallpapercave.com/wp/wp3983076.jpg')" [routerLink]="['/users-man']">
    <h4 class="text" style="color:white">Gérer tous les comptes</h4>
  </div>

  <div class="card" style="left: 20em; background-image: url('https://wallpapercave.com/wp/nibMq0c.jpg')" [routerLink]="['/account-man']">
    <h4 class="text">Gérer mon compte</h4>
  </div>
</div>

<!-- https://wallpapercave.com/wp/nibMq0c.jpg -->