
<div class="disp">
  <div class="card" style="left: 16em; background-image: url('https://wallpapercave.com/wp/wp4065649.jpg')" [routerLink]="['/horses-management']">
    <h4 class="text">Gérer les chevaux</h4>
  </div>
  
  <div class="card" style="left: 18em; background-image: url('https://wallpapercave.com/wp/wp3983076.jpg')" [routerLink]="['/users-management']">
    <h4 class="text" style="color:white">Gérer tous les comptes</h4>
  </div>

  <div class="card" style="left: 20em; background: rgb(141, 140, 140)" [routerLink]="['/account-management']">
    <h4 class="text">Gérer mon compte</h4>
  </div>
</div>
