<!-- 
<h1>Gestion des chevaux</h1>
<card-actions>
  <a routerLink="/horses-management"><button mat-button>Gérer les chevaux</button></a>
</card-actions>


<h1>Gestion des comptes utilisateurs</h1>
<card-actions>
  <a routerLink="/users-management"><button mat-button>Gérer les comptes utilisateurs</button></a>
</card-actions>


<h1>Gestion de mon compte</h1> -->
<!-- Infos perso -->
<!-- <card-actions>
  <a routerLink="/account-management"><button mat-button>Gérer mon compte</button></a>
</card-actions> -->
