body {font-family: Arial, Helvetica, sans-serif;}

.cont {
  position: absolute;
  margin: 20px;
  width: auto;
  top: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #ddd;
  border-radius: 12px;
}

.topnav a {
  float: left;
  color: #050505;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #333;
  color: rgb(255, 255, 255);
}