
<div class="disp">
  <h1 style="text-align: center;">~ Cavalier Page ~</h1>

  <div class="card" style="left: 22em; background-image: url('https://tse2.mm.bing.net/th?id=OIP.B-NL-fVqZ6i6tVNQo7q9TgHaEo&pid=Api&P=0&w=289&h=181')" [routerLink]="['/calendar-lessons']">
    <h4 class="text">S'inscrire à un cours</h4>
  </div>
  <!-- https://wallpapercave.com/wp/wp7204396.jpg -->

  <div class="card" style="left: 26em; background-image: url('https://wallpapercave.com/wp/wp3983076.jpg')" [routerLink]="['/account-man']">
    <h4 class="text" style="color: white;">Gérer mon compte</h4>
  </div>
</div>
