.disp {
    padding-top: 80px;
    background-image: url("https://i.ytimg.com/vi_webp/YyUhslfLfZM/maxresdefault.webp");
    height: 770px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .container {
    position: relative;
    width: 50%;
    top: 8%;
    left: 13%;
  }
  
  .image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    width:60%; 
    border-radius: 8px;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    cursor: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 50px;
    margin-left: 115px;
    cursor: auto;
  }