.disp {
  padding-top: 80px;
  background-image: url("https://i.ytimg.com/vi_webp/YyUhslfLfZM/maxresdefault.webp");
  /* https://i.ytimg.com/vi_webp/xHO30Yrg3kE/maxresdefault.webp */
  height: 770px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 742px;
  max-width: 80%;
  min-height: 330px;
  top: -65px;
}

h2 {
  margin: 0;
  font-size: 16px;
}
ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}
li {
  margin: 1.5em 0;
  padding: 0;
}
b {
 /* used for event dates/times */
  margin-right: 3px;
}
.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}
.demo-app-sidebar {
  margin-left: -15px;
  width: 300px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}
.demo-app-sidebar-section {
  padding: 2em;
}
.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}
.fc {
 /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}
